listen = "::"
port = 8080
# use this list in docker container: ["172.16.0.0/12"]
trusted_proxies = ["127.0.0.1", "::1"]

[upstream]
mode = "single"
pool = "ip-api.com"
rotated_interval = "24h"

[domain]
enabled = true
# block_suffix = ["lan"]
